{pre_hooks, [
   {clean, "rm -rf .deps"},
   {compile, "./build_lib.sh"}
]}.

{port_specs, [
      {"linux", "priv/fix_parser.so",
         ["c_src/fix_parser.c"],
            [{env, [
               {"CFLAGS", "$CFLAGS -std=gnu99 -O3 -I/usr/include/libxml2 -I../../../include -I../../../src"},
               {"LDFLAGS", "$LDFLAGS .deps/libfix_parser.a -lxml2 "}
            ]}]}
]}.
